{% comment %}
    The base template for the site.
    Needs a list of categories in input to show in the sidebar (or top menu on small screens).
    Is possible to pass a "current_category" as the id of the current category, the link
    will be displayed black instead of light grey.
{% endcomment %}

<!DOCTYPE html>
<html lang="it">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'decommerce/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'decommerce/Roboto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'decommerce/Montserrat.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'decommerce/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'decommerce/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'decommerce/favicon-16x16.png' %}" sizes="16x16" />
    <style>
        {% block style %}{% endblock %}
    </style>
    <title>Decommerce | {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="w3-content" style="max-width: 1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width: 250px;" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
        <a href="{% url 'decommerce:index' %}" title="DECOMMERCE | Home" style="text-decoration: none"><h3 class="w3-wide"><b>DECOMMERCE</b></h3>
        </a>
    </div>
        <form id="searchForm" class="w3-large w3-margin-bottom" action="{% url 'decommerce:search' %}" method="post">
        {% csrf_token %}
        <input id="searchField" class="w3-container w3-input w3-margin-left w3-animate-input" name="search" type="search" placeholder="Cerca..."
               style="font-family: Roboto, sans-serif; width: 50%; max-width: 80%">
    </form>
    {% block sidebar %}{% endblock %}
    <div class="w3-large w3-text-grey" style="font-weight:bold">
        {% for category in categories %}
            {% if category.id == actual_category.id %}
                <a href="{% url 'decommerce:category' category.id %}" title="{{ category.name }}"
                   class="w3-bar-item w3-button w3-text-black">{{ category.name }}</a>
            {% else %}
                <a href="{% url 'decommerce:category' category.id %}"
                   class="w3-bar-item w3-button">{{ category.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>

<!-- Top menu on small screens -->
<header id="topMenu" class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">
        <a href="{% url 'decommerce:index' %}" style="text-decoration: none">DECOMMERCE</a></div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()">
        <i class="fa fa-bars"></i>
    </a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Page content -->
<div class="w3-main" id="contentDiv" style="margin-left: 250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" id="hideLargeDiv" style="margin-top: 83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge w3-row">
        <p class="w3-third">{% block top_title %}{% endblock %}</p>
        <div class="w3-right w3-margin-top" id="iconParagraph">
        {% if cart %}
            <div class="w3-dropdown-click w3-margin-right">
                <i onclick="dropdownDiv('cart')" class="fa fa-shopping-cart "></i>
                <div id="cart" class="w3-dropdown-content w3-bar-block w3-card" style="width: 400px; max-height: 400px; overflow-y: auto; right: 0">
                    {% for item in cart %}
                       <div class="w3-row">
                            <div class="w3-threequarter">
                                {{ item.quantity }} x {{ item.product.name }}
                            </div>
                            <div class="w3-col w3-right" style="max-height: 100px; max-width: 100px">
                                <img src="{{ item.product.image.url }}" style="width: 100%; align: center; valign: center">
                            </div>
                       </div>
                    {% endfor %}
                    <div class="w3-gray w3-text-white">Totale: {{ cart_total }}</div>
                    <a href="http://google.com">Gestisci carrello</a>
                </div>
            </div>
        {% endif %}
            <a href="{% url 'decommerce:index' %}" title="Home"><i id="homeIcon" class="fa fa-home w3-margin-right"></i></a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'decommerce:profile' request.user.id %}" title="Profilo"><i id="profileIcon" class="fa fa-user w3-margin-right"></i></a>
                <a href="{% url 'decommerce:logout' %}" title="Logout"><i id="logoutIcon" class="fa fa-sign-out w3-margin-right"></i></a>
            {% else %}
                <a href="{% url 'decommerce:register' %}" title="Registrati"><i id="registerIcon" class="fa fa-user-plus w3-margin-right"></i></a>
                <a href="{% url 'decommerce:login' %}" title="Login"><i id="loginIcon" class="fa fa-sign-in w3-margin-right"></i></a>
            {% endif %}
        </div>


    </header>

    {% block content %}{% endblock %}


    <div class="w3-black w3-center w3-padding-24">Powered by
        <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">
            w3.css</a> and <a href="https://www.djangoproject.com/" title="Django" target="_blank"
                              class="w3-hover-opacity">
            Django
        </a>
    </div>
</div>
<script type="text/javascript">
    //Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    var searchField = document.getElementById("searchField");
    searchField.addEventListener("input", function (e) {
        var query = searchField.value;
        if (query.length > 25) {
            searchField.value = query.substring(0, query.length - 1);
        }
    }, false);

    function expand(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    function expandModal(id) {
        var modal = document.getElementById(id);
        if (window.innerWidth > 992 ) {
            modal.style.paddingLeft = '25%';
        } else {
            modal.style.paddingLeft = 0;
        }

        modal.style.display = "block";
    }

    function closeModal(id) {
        var modal = document.getElementById(id);
        modal.style.display = "none";
    }

    var style = "top=10, left=10, width=800, height=600, status=no, menubar=no, toolbar=no scrollbars=no";

    function dropdownDiv(div) {
        var x = document.getElementById(div);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    {% block script %}{% endblock %}
</script>
</body>
</html>
