{% extends 'decommerce/base.html' %}
{% comment %}
    This page shows the user profile to the owner of the profile
{% endcomment %}
{% block title %}{{ buyer.user.get_username }}{% endblock %}
{% block top_title %}{{ buyer.user.get_username }} - Profilo{% endblock %}
{% block content %}
    <button onclick="expandModal('modifyDataDiv')" class="w3-button w3-left-align">Modifica i tuoi dati</button>

    <div class="w3-container" style="max-height: 500px; overflow-y: auto">
        <p>Ordini effettuati:</p>
        {% for order in orders %}
            <div class="w3-card w3-row w3-margin-bottom">
                <div class="w3-container w3-gray">{{ order.date }}</div>
                <div class="w3-col w3-threequarter">
                    <div class="w3-container"><a href="{% url 'decommerce:product' order.product.id %}">{{ order.product.name }}</a></div>
                    <div class="w3-container">Da: <a href="{% url 'decommerce:profile' order.product.seller.user.id %}">{{ order.product.seller.store_name }}</a></div>
                    <div class="w3-container">Quantit&agrave;: {{ order.quantity }}</div>
                    {% if order.product in missing_reviews %}
                        <div class="w3-container w3-text-orange">Scrivi una recensione per questo prodotto!</div>
                    {% endif %}
                </div>
                <div class="w3-col w3-right" style="max-height: 150px; max-width: 150px">
                    <img src="{{ order.product.image.url }}" style="width: 100%"/>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div id="modifyDataDiv" class="modal">
        <div class="modal-content">
                <div class="w3-container w3-padding w3-dark-grey">
                    <span class="close" onclick="closeModal('modifyDataDiv')">&times;</span>
                    <h2>Modifica i tuoi dati</h2>
                </div>
                <div class="w3-padding">
                    {{ edit_form.as_p }}
                </div>
                <div class="w3-container w3-padding w3-light-grey">
                    <input class="w3-button w3-quarter w3-border-bottom w3-right" type="submit" value="Conferma"/>
                </div>
                </div>
    </div>
{% endblock %}
