{% extends "decommerce/products_show.html" %}
{% comment %}
    Index page.
    Uses a list of categories displayed on the sidebar and a list of products
    shown as a grid in the middle of the page.
    These 2 are mandatory.
{% endcomment %}
{% block title %}Benvenuto{% endblock %}
{% block top_title %}Home{% endblock %}
{% block body_title %}{{ 'Nuovi Prodotti' }}{% endblock %}
{% block script %}

    {% comment %} Hides the index icon from the top bar {% endcomment %}
    document.getElementById("homeIcon").style.display = "none";
{% endblock %}