{% extends 'decommerce/base.html' %}
{% comment %}
    Shows the details of a product, such the remaining stock, the orders made for the product etc.
{% endcomment %}
{% block title %}{{ product.name }}{% endblock %}
{% block top_title %}{{ product.name }} - Dettagli{% endblock %}
{% block content %}
    <div class="w3-container w3-row">
        <div>Tags:</div>
        {% for tag in product.tags.all %}
            <div class="w3-container w3-gray w3-text-white w3-round-xxlarge w3-margin" style="float: left;">
                {{ tag }}
            </div>
        {% endfor %}
    </div>


    {% if errors %}
        <ul class="w3-ul w3-text-red">
        {% for err in errors %}
            <li>{{ err }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="w3-container w3-row">
        {% if product.stock >= 20 %}
            <p class="w3-text-green w3-col">Stock: {{ product.stock }} pezzi</p>
        {% elif product.stock < 20 and product.stock > 0 %}
            <p class="w3-text-orange w3-col">Stock: {{ product.stock }} pezzi</p>
        {% else %}
            <p class="w3-text-red w3-col">Stock terminato</p>
        {% endif %}
        <button class="w3-button w3-third" onclick="expand('editTagsDiv')">Modifica i tag</button>
        <button class="w3-button w3-third" onclick="expand('addStockDiv')">Aggiungi stock</button>
        <button class="w3-button w3-third" onclick="expand('ordersDiv')">Mostra ordini</button>
    </div>
    
    <div id="addStockDiv" class="w3-row w3-card w3-container w3-hide w3-margin">
        <form method="post">
            {% csrf_token %}
            <input class="w3-input w3-quarter w3-border-bottom w3-margin" type="number" name="stock" required id="id_stock" step="1" value="0">
            <input class="w3-button w3-quarter w3-margin" type="submit" value="Aggiungi">
        </form>
    </div>

    <div id="editTagsDiv" class="w3-row w3-card w3-container w3-hide w3-margin">
        <form method="post" action="{% url 'decommerce:edit_tags' product.id %}">
            {% csrf_token %}
            <input class="w3-input w3-border-bottom w3-margin" type="text" name="tags" required maxlength="100"
                   value="{{ product.tags_as_string }}"
                   placeholder="Tags (separa ogni tag con una virgola e uno spazio, es. 'musica, cd')">
            <input class="w3-button w3-quarter w3-margin" type="submit" value="Modifica">
        </form>
    </div>
    
    <div id="ordersDiv" class="w3-container w3-hide w3-margin w3-card" style="max-height: 300px; overflow-y: auto">
        {% for nation, value in nation_orders.items %}
            {{ nation }}: {{ value }}
        {% endfor %}
        {% for order in orders %}
            <div class="w3-card w3-row w3-margin">
                <div class="w3-container w3-gray">{{ order.date }}</div>
                <div class="w3-col w3-margin-left">Da: {{ order.user }}</div>
                <div class="w3-col w3-margin-left">Indirizzo: {{ order.user.address }}, {{ order.user.nationality }}</div>
                <div class="w3-col w3-margin-left">Numero: {{ order.quantity }}</div>
            </div>
        {% endfor %}
    </div>
    
    
    
{% endblock %}
{% block script %}
    var rightButtons = document.getElementById('rightButtons');
    var mySidebar = document.getElementById('mySidebar');
    var contentDiv = document.getElementById('contentDiv');
    var topMenu = document.getElementById('topMenu');
    var hideLargeDiv = document.getElementById('hideLargeDiv');
    rightButtons.style.display = 'none';
    mySidebar.style.width = 0;
    contentDiv.style.marginLeft = 0;
    topMenu.style.display = 'none';
    hideLargeDiv.style.display = 'none';

    
    function expand(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
{% endblock %}
