{% extends 'decommerce/base.html' %}
{% comment %}
    Display product information and reviews.
{% endcomment %}
{% block title %}Dettagli prodotto{% endblock %}
{% block top_title %}Dettagli prodotto{% endblock %}
{% block content %}

    <!-- Product informations -->
    <div class="w3-container w3-row">
        <div class="w3-card w3-text-grey w3-col s12 m8 l9">
            <div class="w3-container w3-grey w3-text-white">
                <h3 style="margin: 0">{{ product.name }}</h3>
            </div>
            <div class="w3-container">
                <p>{% with ''|center:5 as range %}
                    {% for i in range %}
                        {% if forloop.counter <= product.stars_avg %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                </p>
                <p>Venduto da: <a href="{% url 'decommerce:profile' product.seller.user.id %}">{{ product.seller }}</a>
                </p>
                <p>Prezzo: {{ product.price }} Euro</p>
                {% if product.stock > 0 %}
                    <p class="w3-text-green">In stock</p>
                {% else %}
                    <p class="w3-text-red">Terminato</p>
                {% endif %}
                Descrizione:<br>
                <textarea class="w3-container w3-text-gray w3-row"
                          readonly rows="10" cols="50" style="resize: none;" >{{ product.details }}</textarea>
            </div>
        </div>
        <div class="w3-container w3-center w3-third w3-padding-32 w3-col s12 m4 l3">
            <img src="{{ product.image.url }}" style="max-width: 200px; max-height: 300px;">
            {% if product_available and request.user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    <input class="w3-input" type="number" name="stock" oninput="checkPositive(this.value)"
                           required id="id_number" step="1" value="1">
                    <input class="w3-btn w3-black w3-text-white w3-margin-top" type="submit" value="Aggiungi al carrello">
                </form>
            {% endif %}
        </div>
    </div>

    <div class="w3-container w3-card w3-margin">
    {% if request.user.is_authenticated %}
        <!-- Product reviews -->
            {% if reviews %}
                <h5>Recensioni</h5>
                <div class="w3-container" style="max-height: 300px; overflow-y: auto">
                    {% for review in reviews %}
                        <div class="w3-section w3-row w3-margin-bottom w3-border-bottom">
                            <div class="w3-container w3-row w3-text-black"><b>{{ review.title }}</b></div>
                            <div class="w3-container w3-row w3-text-grey">By: {{ review.by }}</div>
                            <div class="w3-container w3-row">
                                {% with ''|center:5 as range %}
                                    {% for i in range %}
                                        {% if forloop.counter <= review.stars %}
                                            <i class="fa fa-star"></i>
                                        {% else %}
                                            <i class="fa fa-star-o"></i>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <div class="w3-container w3-text-black">
                                {{ review.review }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h5>Nessuna recensione</h5>
            {% endif %}
        {% else %}<h5>Devi essere loggato per leggere le recensioni</h5>
    {% endif %}
        </div>

    <!-- Review form -->
    <form class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin" method="post">
        <h5 class="w3-center">
            {% if reviews %}
                Scrivi una recensione per questo prodotto:
            {% else %}
                Scrivi per primo una recensione di questo prodotto:
            {% endif %}
            {% if errors %}
                {% for err in errors %}
                    <h6 class="w3-text-red">{{ err }}</h6>
                {% endfor %}
            {% endif %}
        </h5>
        {% csrf_token %}
        {% if errors %}
            <fieldset disabled="disabled">{% endif %}
        <div class="w3-row w3-section">
            <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-star-o"></i></div>
            <div class="w3-rest">
                {{ review_form.stars }}
            </div>
        </div>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-commenting-o"></i></div>
            <div class="w3-rest">
                {{ review_form.title }}
            </div>
        </div>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-pencil-square-o"></i></div>
            <div class="w3-rest">
                {{ review_form.review }}
            </div>
        </div>
        <input class="w3-button w3-block w3-section w3-border w3-border-black w3-ripple w3-padding" type="submit"
               value="Invia"/>
        {% if errors %}</fieldset>{% endif %}
    </form>

    <div class="w3-content w3-container w3-display-container">
        <h2>Prodotti correlati:</h2>
        {% for prod in related_products %}
            <div class="relatedDivs w3-row w3-col l3 m4 s6 w3-card w3-margin" style="height: 350px">
                <div class="w3-container">
                    <div class="w3-display-container">
                        <div class="w3-center w3-margin-top">
                            <img src="{{ prod.image.url }}" style="max-width: 200px; max-height: 200px;">
                        </div>
                        <div class="w3-display-middle w3-display-hover">
                            <a class="w3-btn w3-black" href="{% url 'decommerce:product' prod.id %}"><i
                                    class="fa fa-info"></i> Dettagli</a>
                        </div>
                        <p>{{ prod.name|truncatechars:65 }}<br>
                            <b>{{ prod.price }} Euro</b>
                            <br>
                            {% with ''|center:5 as range %}
                                    {% for i in range %}
                                        {% if forloop.counter <= prod.stars_avg %}
                                            <i class="fa fa-star"></i>
                                        {% else %}
                                            <i class="fa fa-star-o"></i>
                                        {% endif %}
                                    {% endfor %}
                            {% endwith %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>

{% endblock %}
{% block script %}

    function checkPositive(val) {
        var numberSpinner = document.getElementById('id_number');
        if (parseInt(val) < 1)
            numberSpinner.value = "1";
        if (parseInt(val) > {{ product.stock }})
            numberSpinner.value = "{{ product.stock }}";
    }

    var slideIndex = 1;
    var numProducts = 2;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("relatedDivs");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      if (x.length < numProducts) {
        for (i = 0; i < x.length; i++)
            x[i].style.display = "block";
      } else {
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        for (i = slideIndex - 1; i < slideIndex + numProducts && i < x.length ; i++) {
            x[i].style.display = "block";
        }
      }
    }
{% endblock %}
