{% extends 'decommerce/base.html' %}
{% comment %}
    Main page to register users
{% endcomment %}
{% block title %}Registrati{% endblock %}
{% block top_title %}Registrati{% endblock %}
{% block content %}
    <section class="w3-container w3-margin-bottom">
        {% if registration_error %}
            <h5 class="w3-text-red">{{ registration_error }}</h5>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="w3-row w3-section">
                <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
                <div class="w3-rest">
                    {{ form.mail }}
                </div>
            </div>
            <div class="w3-row w3-section">
                <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-user-o"></i></div>
                <div class="w3-rest">
                    {{ form.username }}
                </div>
            </div>
            <div class="w3-row w3-section">
                <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-key"></i></div>
                <div class="w3-rest">
                    {{ form.password }}
                </div>
            </div>
            <div class="w3-row w3-section">
                <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-check-circle-o"></i></div>
                <div class="w3-rest">
                    {{ form.type }}
                </div>
            </div>
            <div id="divCompratore" class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-flag"></i></div>
                    <div class="w3-rest">
                        {{ form.nationality }}
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width: 50px;"><i class="w3-xxlarge fa fa-map-marker"></i></div>
                    <div class="w3-rest">
                        {{ form.address }}
                    </div>
                </div>
            </div>
            <div id="divVenditore" class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin" style="display: None">
                <div class="w3-row w3-section">
                    {{ form.store_name }}
                </div>
            </div>
            <input class="w3-input w3-quarter" type="submit" value="Registrati">
        </form>
        <p id="test"></p>
    </section>
{% endblock %}
{% block script %}

        var typeSelector = document.getElementById("id_type");
        typeSelector.addEventListener("change", changeType, false);
        var divCompratore = document.getElementById("divCompratore");
        var divVenditore = document.getElementById("divVenditore");
        
        function changeType() {
            var selectedValue = typeSelector.options[typeSelector.selectedIndex].value;
            if (selectedValue == 'Compratore') {
                divCompratore.style.display = "Block";
                divVenditore.style.display = "None";
            } else {
                divCompratore.style.display = "None";
                divVenditore.style.display = "Block";
            }
        }
        
        changeType()

{% endblock %}
